.country-card {
  display: flex;
  flex-direction: column;
}
.img-box {
  //   height: 58%;
  padding-bottom: 63%;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-box {
  background-color: #fff;
  padding: 2rem;
}
